@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <iframe title="PopulationOfStateReport - Page 1" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNjBkYWVkNzctMjRmMC00MjZiLWIyYjctYzljMWY0ZWQ1MDllIiwidCI6IjFkMzZmZGE5LTJmNDAtNDIxZi04NTdlLWI2NTNmMDhjN2M4MiIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
