<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  
<specFlow>
    
  <plugins>
      <add name="SpecFlow.Plus.Excel" type="Generator" />
    </plugins><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
<appSettings>
      <add key="url" value="https://rssl-dev.azurewebsites.net/" />
  <add key="browsers" value="Chrome" />
  <add key="password" value="Capetown!Banff5252" />
  <add key="fromEmail" value="usaslstc@mmm.com" />
  <add key="receivers" value="kanak.verma@nathcorp.com" />
  <add key="receivers1" value="vijay.bhaskar@nathcorp.com" />
  <add key="receivers2" value="tbeamer@mmm.com" />
  <add key="receivers3" value="aalahl@mmm.com" />
  <add key="receivers4" value="sjaiswal.cw@mmm.com" />
  <add key="receivers5" value="erikwjohnson@mmm.com" />
   </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>